<%- include("header.ejs") %>
</div>
</div>
<div class="container">
    <% for (let j = i; j < Math.min(i + 9, file_res.length); j++) { %>
        <div class="window schedule-box">
            <div class="title-bar">
                <div class="title-bar-text"><%= file_res[l-j-1].title %></div>
            </div>
            <div class="window-body">
                <p><strong>Created:</strong> <%= new Date(file_res[l-1-j].c_date).toLocaleString() %></p>
                <p><%= file_res[l-1-j].desc %></p> 
            </div>
        </div>
    <% } %>
</div>

<!-- Pagination Controls -->
<div class="pagination">
    <% if (i - 9 >= 0) { %>
        <a href="/view?i=<%= i - 9 %>">
            <button type="button">Previous</button>
        </a>
    <% } %>

    <% if (i + 9 < file_res.length) { %>
        <a href="/view?i=<%= i + 9 %>">
            <button type="button">Next</button>
        </a>
    <% } %>

    <div class="action-buttons">
      <a href="/">
          <button type="button">Add Schedule</button>
      </a>
  </div>

</div>

<%- include("footer.ejs") %>
